<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <!-- Previous -->
    <li
      (click)="previous()"
      class="page-item"
      [ngClass]="{ disabled: currentPage == 1 }"
    >
      <a class="page-link" tabindex="-1">Previous</a>
    </li>
    <!-- Pages -->
    <li
      *ngFor="let page of getPagesAsArray(); index as i"
      [ngClass]="{ active: currentPage == i + 1 }"
      (click)="goToPage(i + 1)"
      class="page-item"
    >
      <a class="page-link">{{ i + 1 }}</a>
    </li>
    <!-- Next -->
    <li
      (click)="next()"
      class="page-item"
      [ngClass]="{ disabled: currentPage == pagesTotal }"
    >
      <a class="page-link">Next</a>
    </li>
  </ul>
</nav>
