<!-- {{ album | json }} -->
<ng-template [ngIf]="album != undefined && !isHidden" [ngIfElse]="elseAlbum">
  <div class="card position-sticky" style="top:5px;">
    <img class="card-img-top" src="{{ album.url }}" alt="Group Music" />
    <div [@details]="isOpen ? 'open' : 'opening'" class="card-body">
      <h5 class="card-title">{{ album.title }}</h5>
      <p class="card-text">{{ album.ref }}</p>
      <a
        href="javacript:;"
        (click)="onPlayClick(album)"
        class="btn btn-primary"
      >
        Play >>
      </a>
      <a href="javacript:;" (click)="onHideClick(album)" class="btn btn-dark">
        Hide
      </a>
      <a
        href="javacript:;"
        (click)="onShuffleClick(album)"
        class="btn btn-secondary"
      >
        Shuffle
      </a>
    </div>

    <ul *ngIf="list != undefined" class="list-group">
      <!-- <li class="list-group-item active">Cras justo odio</li> -->
      <li
        *ngFor="let item of list.list; index as i"
        (click)="onListClick(i)"
        class="list-group-item"
      >
        {{ item }}
      </li>
    </ul>
  </div>
</ng-template>
<ng-template #elseAlbum>
  <div class="card position-sticky" style="top:5px; padding-top: 5px;">
    <h6 class="text-center">Selectionnez un album</h6>
  </div>
</ng-template>
