<div
  *ngIf="showplayer"
  id="audioplayer"
  class="alert alert-primary"
  role="alert"
>
  <div class="progress">
    <div
      class="progress-bar"
      role="progressbar"
      [style.width]="currentProgress + '%'"
      aria-valuenow=""
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
</div>
