<app-audio-player></app-audio-player>
<div class="container-fuild principal">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/albums">{{ title }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a
            class="nav-link"
            href="#"
            routerLink="/albums"
            routerLinkActive="active"
          >
            Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            Se connecter
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/stats" routerLinkActive="active">
            Stats
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form> -->
    </div>
    <div class="timer">
      {{ timer.hour }}:{{ timer.min }}:{{ timer.second }}
      <button id="timer-stop" (click)="onTimerClick()">Stop</button>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <!-- <app-albums></app-albums>  => Remplacé par la table de routing -->
  <!-- .music -->
</div>
<!-- app-albums -->
