<!-- <pre>{{ album | json }}</pre> -->
<div class="card position-sticky" style="top:5px;">
  <img class="card-img-top" src="{{ album.url }}" alt="Group Music" />
  <div class="card-body">
    <h5 class="card-title">{{ album.title }}</h5>
    <p class="card-text">{{ album.ref }}</p>
    <p>{{ album.description }}</p>
  </div>
</div>
