<!-- <h1>{{ titlePage }}</h1> -->
<app-search (onSearch)="searchParent($event)"></app-search>
<div class="row content">
  <div class="col-sm-4 video">
    <app-albums-details
      [album]="selectedAlbum"
      (onPlay)="playParent($event)"
      (onHide)="hideParent($event)"
    ></app-albums-details>
  </div>
  <!-- .video -->
  <div class="col-sm-8 music">
    <app-paginate (onPageChange)="pageChangeParent($event)"></app-paginate>
    <!-- .pagination -->
    <button (click)="onClick(1)" type="button" class="btn btn-lg btn-danger">
      <!-- You are in an anonymous mode. -->
      Clicked {{ count }} times
    </button>
    <!-- Si on a des albums : -->
    <ng-template [ngIf]="albums.length > 0" [ngIfElse]="elseAlbums">
      <!-- Boucle for sur albums -->
      <div class="card" *ngFor="let album of albums">
        <!-- Debug -->
        <!-- <pre>{{ album.tags | json }}</pre> -->
        <!-- <pre>{{ showHeart(album.like) }}</pre> -->
        <!-- /Debug -->
        <div class="card-header {{ album.status }}">
          {{ album.ref }}
        </div>
        <div class="name-header">
          {{ album.name }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ album.title }}</h5>
          <p class="card-text">
            {{ album.description }}
          </p>
          <a class="btn btn-outline-primary" href="#" role="button">fr</a>
          <!-- Like & duration -->

          <!-- On fait appel à notre fonction custom pour avoir le nombre de coeur à afficher -->
          <img
            *ngFor="let id of showHeart(album.like)"
            class="glyph-icon"
            src="./assets/svg/si-glyph-heart.svg"
          />
          <!-- <small *ngIf="album.like">{{ album.like }}</small> -->
          <img class="glyph-icon" src="./assets/svg/si-glyph-timer.svg" />
          <small>{{ getDuration(album.duration) }} min</small>
          <ul *ngIf="album.tags">
            <li class="list-inline-item" *ngFor="let tag of album.tags">
              <span class="badge badge-info" href="#" role="button">{{
                tag
              }}</span>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <button class="btn btn-dark" (click)="onSelect(album)">
            Détails
          </button>
          <a href="/album/{{ album.id }}" class="btn btn-dark">
            Description
          </a>
        </div>
      </div>
    </ng-template>
    <!-- Sinon la liste des albums est vide on affiche un message -->
    <ng-template #elseAlbums>
      <div class="card">
        <h5>Désolé aucun album pour l'instant</h5>
      </div>
    </ng-template>

    <app-paginate (onPageChange)="pageChangeParent($event)"></app-paginate>
    <!-- .pagination -->
  </div>
</div>
