<!-- Debug -->
<!-- <pre>{{ album.tags | json }}</pre> -->
<!-- <pre>{{ showHeart(album.like) }}</pre> -->
<!-- /Debug -->
<div class="row content">
  <div class="col-sm-12 music">
    <app-paginate
      [CustomItemPerPage]="4"
      (onPageChange)="pageChangeParent($event)"
    >
    </app-paginate>
    <!-- .pagination -->
    <!-- Si on a des albums : -->
    <ng-template [ngIf]="albums.length > 0" [ngIfElse]="elseAlbums">
      <!-- Boucle for sur albums -->
      <div class="card" *ngFor="let album of albums">
        <div class="card-header">{{ album.name }} - {{ album.ref }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ album.title }}</h5>
          <p class="card-text">
            {{ album.description }}
          </p>
        </div>
        <div class="card-footer">
          <table class="stat-table">
            <tr class="content stat-line">
              <td>Note Moyenne : {{ getAverage(album.notes) }}</td>
              <td (click)="setOrder('desc')">▲</td>
              <td (click)="setOrder()">▼</td>
              <td>
                Position : {{ getPosition(album.id) }}
                <!-- Robin : {{ getTotoPosition(album.id) }} -->
              </td>
            </tr>
          </table>
        </div>
      </div>
    </ng-template>
    <!-- Sinon la liste des albums est vide on affiche un message -->
    <ng-template #elseAlbums>
      <div class="card">
        <h5>Désolé aucun album pour l'instant</h5>
      </div>
    </ng-template>

    <app-paginate
      [CustomItemPerPage]="4"
      (onPageChange)="pageChangeParent($event)"
    ></app-paginate>
    <!-- .pagination -->
  </div>
</div>
