.card-footer {
  .stat-table {
    width: 100%;
  }
  .stat-line {
    display: flex;
    margin: 0;
    td {
      width: 25%;
      text-align: center;
      user-select: none;
      outline: none;
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}
